<mat-toolbar class="header">
  <mat-toolbar-row fxLayout="column" fxLayoutAlign="stretch">
    <div fxLayout="row" fxLayoutAlign="start center">
      <span fxFlex="20">Demo Application</span>
    </div>  
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened="true" class="sidenav"> 
    <app-sidenav [user]="user$ | async" (loggedOut)="logout()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer">
  <span>&nbsp;</span>
</mat-toolbar>